
.App-logo {
  
  width: 20%; 
 
}

html,body{
  background-color:#FFD80A
}


.App-header {  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img{
  height: 20%;
}

.buttonLogin {
  width: 15%;
  height: 60%;
  background-color: darkorange;  
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  align-content: block;
  border: 1px solid #000000;
  border-radius: 40px;
  align-items: center;
  cursor: pointer;  
  padding: 15px;
  
}

.linksTo{
  text-decoration: none;
  color:white
}

.TwoButtons{  
  display: flex; 
  height: 100%;  
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}

#waiter{
  margin-bottom: 5%;
 
}


.cartTitle{
  text-align: center;
  font-family: 'Pacifico', cursive;
  
 
  
}

.menuTitle{
  text-align: center;
  font-family: 'Pacifico', cursive;
  
   
}

.orderTitle{
  text-align: center;
  font-family: 'Pacifico', cursive;

}

.squareMenu{

position: absolute;
width: 348px;
height: 898px;
background: rgba(255, 154, 3, 0.4);
border-radius: 20px;
display: flex;
justify-content: center;
}

.squareOrder{

float: right;
width: 348px;
height: 898px;

background: rgba(255, 154, 3, 0.4);
border-radius: 20px;


}

.identifierMenu{
position: absolute;
width: 143px;
height: 40px;
background: rgba(204, 25, 0, 0.25);
border-radius: 20px;
align-self: center;
font-family: 'Fira Sans', sans-serif;
align-items: center;
text-align: center;
display: flex;
justify-content: center;

}

#breakfast {
  
  
  
 

}
